body{
  text-align: center;
  min-height: 100%;
  font-family: "Courier New", Courier, monospace;
}

* {
  margin: 0;
}



.page {
  min-height: 100%;
  position: relative;
}

.inner-page {
  padding: 11vh 0 11vh;
}

h1 {
  padding-top: 20vh;
  font-family: Papyrus; fantasy;
  font-size: 3rem;
}

footer {
  position: absolute;
  bottom:0;
  left:0;
  width:100%;
  height:9vh;
  background-color: black;
  padding-top: 10px;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.header {
  position: fixed;
  width:100%;
  background-color: black;
  border-bottom: 4px solid white;
  /* Assures that header menu is in front of other items */
  z-index: 1;
}

.headerlink {
  padding: 14px 16px;
  padding: 3vh;
  display: inline-block;
  /* Add transition for hover effects */
  transition: all 0.3s ease;
}

.headerlink:hover {
  background-color: grey;
}

input {
  margin-bottom: 10vh;
  padding: 7px
  text: bold;
  font-style: normal;
}

.blurb {
  font-size: 20px;
  margin-left: 20%;
  margin-right: 20%;

}

.text {
  border: 1px solid black;
  border-radius: 4px;
  width: 300px;
}

textarea {
  margin-bottom: 5vh;
  height: 200px;
}

p {
  font-weight: bold;
}

button {
  background-color: black;
  border: 2px solid black;
  border-radius: 4px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

button:hover {
  background-color: red;
  color: white;
  border: 2px solid red;
}
